## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,11,Chabahar,IR,83.12,clear sky,25.2919,60.6430,هتل گدروشیا
1,14,Faanui,PF,79.11,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,16,Saint-Philippe,RE,69.39,few clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,25,Tuy Hoa,VN,84.16,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
4,26,Hasaki,JP,77.29,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description </dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0    25.2919   60.6430
1   -16.4833 -151.7500
2   -21.3585   55.7679
3    13.0833  109.3000
4    35.7333  140.8333
..       ...       ...
315  44.5000    0.1667
316  42.2506  -75.8330
317  44.1667   66.7500
318 -10.1256  -36.1756
319  11.6876  -84.4562

[320 rows x 2 columns]

In [12]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Scranton")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Scranton")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Broome")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Bethel")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Plainfield")]

In [19]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode="DRIVING")
fig.add_layer(trip_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,530,Scranton,US,69.91,overcast clouds,41.4090,-75.6624,Radisson Lackawanna Station Hotel Scranton
1,530,Scranton,US,69.91,overcast clouds,41.4090,-75.6624,Radisson Lackawanna Station Hotel Scranton
2,684,Broome,US,65.64,overcast clouds,42.2506,-75.8330,Chenango Valley State Park
3,326,Bethel,US,68.85,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
4,534,Plainfield,US,73.09,overcast clouds,40.6168,-74.4173,Howard Johnson by Wyndham North Plainfield

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description </dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))